/* Start coding here */
* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  background-color: #92aabd;
  width: 100vw;
  height: 50px;
  margin-bottom: 20px;
  color: #183b56;
  padding-left: 20px;
}

.container {
  margin-left: 40px;
}

h2 {
  padding: 10px;
}

.content {
  border: 3px solid #183b56;
  color: #183b56;
  padding: 20px;
  margin: 30px;
  background-color: rgba(146, 170, 189, 0.5);
}
